@font-face {
    font-family: Avant Garde;
    src: url(./font/ITC\ Avant\ Garde\ Demi\ SWA.ttf);
}

body {
    margin: 0 auto;
    height: 100vh;
    max-width: 1184px;
    font-family: Avant Garde, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/welcome.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
}

.title {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #644647;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
}

.counter-element {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-self: end;
    margin: 0 0 25px 0;
}

.counter-logo {
    width: 50px;
}

.counter {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
    color: #644647;
}