@font-face {
    font-family: Avant Garde;
    src: url(./font/ITC\ Avant\ Garde\ Demi\ SWA.ttf);
}

body {
    margin: 0 auto;
    font-family: Avant Garde, sans-serif;
    max-width: 1184px;
    background-image: url('./images/welcome.jpeg');
    background-repeat: no-repeat;
}

.title {
    margin: 56px 0 35px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #644647;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
}

/*.counter-elements {
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: end;
    align-items: center;
}

.counter-element {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}   

.counter-element:first-child {
    margin-right: 25px;
}

.counter-logo {
    width: 50px;
}

.counter {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
    color: #644647;
}*/

.text-elements {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}

.mission {
    margin: 0 0 35px;
    padding: 0 35px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #644647;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
}

.button {
    width: 600px;
    height: 75px;
    margin: 45px 0 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 235, 205, .8);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #47ff52, -1px -1px 0 #47ff52, 1px -1px 0 #47ff52, -1px 1px 0 #47ff52, 0px 1px 0 #47ff52, 1px 0px 0 #47ff52, 0px -1px 0 #47ff52, -1px 0px 0 #47ff52, 4px 2px 0 #333;
}

.link {
    text-decoration: none;
    color: #644647;
}